#wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.moving-wrap {
  -webkit-transition: .6s;
  transition: .6s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header h1 {
  position: fixed;
  top: 5%;
  left: 3%;
}

header h1 a {
  display: block;
  position: relative;
  width: 60px;
  height: 70px;
}

header h1 a span {
  display: block;
  position: absolute;
  text-align: center;
  font-family: "Archivo Black";
}

header h1 a span.y {
  top: 0;
  left: 0;
}

header h1 a span.s {
  top: 0;
  left: 22px;
}

header h1 a span.h {
  bottom: 0;
  left: 0;
}

header h1 a span.o {
  bottom: 0;
  left: 28px;
}

nav {
  position: fixed;
  top: 5%;
  right: 3%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  width: 19%;
  letter-spacing: 1.5px;
}

nav ul li:not(:last-child) {
  margin-right: 50px;
}

.side-btn {
  position: fixed;
  bottom: 5%;
  z-index: 10;
}

.side-btn.shortcut {
  left: 3%;
}

.side-btn.shortcut .github-btn {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icon-github.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.side-btn.scroll {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 3%;
  letter-spacing: 2px;
}

.up-btn, .down-btn {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  width: 20px;
  height: 20px;
}

.up-btn::after, .down-btn::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  background: #ddd;
  width: 20px;
  height: 1px;
}

.up-btn {
  right: 10px;
}

.down-btn {
  left: 10px;
}

/* article common attribute*/
article {
  height: 100vh;
  position: relative;
}

article .center-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .center-box h3 {
  font-size: 6vw;
  font-family: "Archivo Black";
  text-align: center;
}

/* intro */
.iam p {
  text-align: left;
  letter-spacing: 3px;
}

.iam p:first-child {
  padding-left: 20vw;
}

.iam p:last-child {
  padding-left: 40vw;
  line-height: 2;
}

.iam strong {
  text-align: center;
  font-family: "Archivo Black";
  font-size: 10vw;
}

/* about */
.about-me > div {
  padding-top: 50px;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-top > div {
  width: 50%;
}

.about-top .face-img-box {
  text-align: center;
}

.about-top .face-img-box img {
  max-width: 40%;
}

.about-top .face-info-box {
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-top .face-info-box p:nth-child(2) {
  margin: 50px 0;
}

.about-bottom {
  line-height: 2;
}

/* skill */
.skill-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 3% 0;
}

.skill-box-wrap > div {
  width: 30%;
  text-align: center;
}

.skill-box-wrap > div:nth-child(2), .skill-box-wrap > div:nth-child(5) {
  margin: 0 3.333%;
}

.skill-box-wrap > div:nth-child(2) {
  margin-bottom: 50px;
}

.skill-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 100px;
  height: 150px;
}

.skill-text {
  padding-top: 10px;
}

/* works */
.slide-btn {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

.slide-btn > button {
  position: absolute;
  top: 0;
  color: #fff;
  width: 30px;
  height: 30px;
  text-indent: -9999px;
}

.slide-btn > button::before, .slide-btn > button::after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 30px;
  background: #ddd;
}

.slide-btn > button::before {
  top: -13px;
}

.slide-btn > button::after {
  top: 13px;
}

.slide-btn .prev-btn {
  left: 3%;
}

.slide-btn .prev-btn::before {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.slide-btn .prev-btn::after {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.slide-btn .next-btn {
  right: 3%;
}

.slide-btn .next-btn::before {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.slide-btn .next-btn::after {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.slide-wrap {
  overflow: hidden;
  width: 80vw;
}

.slide-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(270px);
          transform: translateX(270px);
  -webkit-transition: .7s;
  transition: .7s;
}

.slide-ul li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.slide-ul li.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
  z-index: 1;
}

.slide-img-box {
  width: 1000px;
}

.slide-img-box img {
  max-width: 100%;
  display: block;
}

.slide-info-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  width: 700px;
  height: 300px;
  text-align: center;
}

.slide-info-wrap .slide-info {
  position: absolute;
  width: 100%;
  top: 33px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
}

.slide-info-wrap .slide-info.active {
  opacity: 1;
}

.slide-info-wrap .slide-info h4 {
  font-size: 4vw;
  letter-spacing: 2px;
  font-family: "Archivo Black";
  color: #fff;
  line-height: 1;
}

.slide-info-wrap .slide-info p {
  font-size: 1vw;
  line-height: 1.5;
}

/* contact */
.contact .center-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .center-box > div {
  margin-top: 8%;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.contact .center-box > div a:first-child {
  margin-right: 15%;
}

.contact > p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
