header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  position: fixed;
  top: 5%;
  left: 3%;
}

header h1 a {
  display: block;
  position: relative;
  width: 60px;
  height: 70px;
}

header h1 a span {
  display: block;
  position: absolute;
  text-align: center;
  font-family: "Archivo Black";
}

header h1 a span.y {
  top: 0;
  left: 0;
}

header h1 a span.s {
  top: 0;
  left: 22px;
}

header h1 a span.h {
  bottom: 0;
  left: 0;
}

header h1 a span.o {
  bottom: 0;
  left: 28px;
}

nav {
  position: fixed;
  top: 5%;
  right: 3%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  width: 19%;
  letter-spacing: 1.5px;
}

nav ul li:not(:last-child) {
  margin-right: 50px;
}

.side-btn {
  position: fixed;
  bottom: 5%;
}

.side-btn.shortcut {
  left: 3%;
}

.side-btn.shortcut .github-btn {
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icon-github.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
}

.side-btn.scroll {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 3%;
  letter-spacing: 2px;
}

.prev-btn, .next-btn {
  display: inline-block;
  text-indent: -9999px;
  position: relative;
  width: 20px;
  height: 20px;
}

.prev-btn::after, .next-btn::after {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  background: #ddd;
  width: 20px;
  height: 1px;
}

.prev-btn {
  right: 10px;
}

.next-btn {
  left: 10px;
}

/* article common attribute*/
article {
  height: 100vh;
  position: relative;
}

article .center-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .center-box h3 {
  font-size: 6vw;
  font-family: "Archivo Black";
  text-align: center;
}

/* intro */
.iam p {
  text-align: left;
  letter-spacing: 3px;
}

.iam p:first-child {
  padding-left: 20vw;
}

.iam p:last-child {
  padding-left: 40vw;
  line-height: 2;
}

.iam strong {
  text-align: center;
  font-family: "Archivo Black";
  font-size: 10vw;
}

/* about */
.about-me > div {
  padding-top: 50px;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-top > div {
  width: 50%;
}

.about-top .face-img-box {
  text-align: center;
}

.about-top .face-img-box img {
  max-width: 40%;
}

.about-top .face-info-box {
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-top .face-info-box p:nth-child(2) {
  margin: 50px 0;
}

.about-bottom {
  line-height: 2;
}

/* skill */
.skill-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 3% 0;
}

.skill-box-wrap > div {
  width: 33.333%;
}

/* works */
.slide-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* contact */
.contact .center-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .center-box > div {
  margin-top: 8%;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.contact .center-box > div a:first-child {
  margin-right: 15%;
}

.contact > p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
